/.git-auto
/bin
/Equation_data.h.save
/equation_tests.h.save
/obj
/square_equasion.bmarks
/square_equasion.cbp
/square_equasion.layout
/square_equasion_build_log.html
/testing_system.h.save

# all files with .save expansion
*.save